/* 
Color palete: #ADA198; #36332f
*/

body {
    background-color: #ADA198;
}

/* Main page */
.container[name="index-content"] {
    --element-size: 3.3em;
    text-align: center;
    margin-top: 12.5vh;
}

h1[name="tagline"] {
    font-size: var(--element-size);
}

strong[name="tagline"] {
    display: block;
    font-size: 2.2em;
    font-weight: bold;
}

hr[name="content-divider"] {
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--element-size) * 10);
}

.container[name="index-description"] {
    display: flex;
    justify-content: center;
}

p[name="index-description"] {
    text-align: center;
    max-width: calc(var(--element-size) * 10);
    padding-top: 3.5vh;
    padding-bottom: 0.5vh;
}

.btn.btn-dark[name="spell-button"] {
    display: flex;

    align-items: center;
    align-self: center;
    padding-top: 0.25vh;


    height: 5vh;
    width: 7vw;
    border-radius: 25px;

    font-size: 150%;
}