body {
    background-color: #ADA198;
}

.navbar {
    background-color: #36332f;
}

.navbar-brand {
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.navbar-brand:hover {
    color: #ADA198;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #ADA198;
}

.nav-link.dropdown-toggle {
    text-align: right;
}

.navbar {
    height: 4.5vh;
}

.nav-item.dropdown .dropdown-menu {
    transform: translateX(-46%);
    
    background-color: #36332f;
}

.dropdown-item {
    color: white;
}

.dropdown-divider {
    background-color: #ADA198;
}

#tagline {
    display: flex;
    justify-content: center;
    margin-top: 17.5vh;

    font-size: 4vw;
}