{% extends "base.html" %}

{% block head %}
    <title>Change Password</title>
{% endblock %}

{% block main %}
    
    <div name="form" style="position: absolute !important; margin-left: 45pc !important; max-width: fit-content; margin-top: 8pc;">
        <h1 style="margin-bottom: 1.5rem">Change Password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-dark" type="submit" value="Change">
        </form>
    </div>
    {% endblock %}