{% extends "base.html" %}

{% block head %}
    <title>profile</title>
{% endblock %}

{% block main %}
    <div name="form" style="max-width: fit-content; margin-top: 5pc; margin-left: auto; margin-right: auto;">
        <form action="{% url 'users:user_profile' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p>Password: <a href="{% url 'users:user_change_password' %}">Change Password</a> <p> 
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}