{% extends "base.html" %}

{% block title %}
    <title>main</title>
{% endblock %}

{% block navbar %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
{% endblock %}

{% block main %}
    <p>This is a main page</p>
{% endblock %}